<div>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> fade in">
      <a href="#" data-dismiss="alert" class="close" aria-hidden="true">&times;</a>
      <%= value %>
    </div>
  <% end %>
</div>
