<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Earn cash by playing games?</h1>
    <p>Sign up now to be invited to the latest opportunities!</p>
    <%= link_to "Register &raquo;".html_safe, "#sign_up", "data-toggle" => "modal", class: "btn btn-primary btn-lg" %>
  </div>
</div>
