.jumbotron
  .container
    h1 Earn cash by playing games?
    p Sign up now to be invited to the latest opportunities!
    = link_to "Register &raquo;".html_safe, "#sign_up", "data-toggle" => "modal", class: "btn btn-primary btn-lg"
