<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Earn cash by playing games?</h1>
    <p>Sign up now to be invited to the latest opportunities!</p>
    <p><a class="btn btn-primary btn-lg">Register &raquo;</a></p>
  </div>
</div>
