= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  div role='form'
    div.form-group
      = f.email_field    :email,
                         :placeholder => 'Email',
                         :class => 'form-control',
                         :autofocus => true
    div.form-group
      = f.password_field :password,
                         :placeholder => 'Password',
                         :class => 'form-control'
    div.form-group
      = f.password_field :password_confirmation,
                         :placeholder => 'Password confirmation',
                         :class => 'form-control'

    div= f.button 'Sign up', :type => 'submit', :class => 'btn btn-small btn-primary'

