= form_for @page, method: :post do |f|
  = f.text_field :name, class: 'form-control'
  = markdown_editor @page, :content, {savable: false}
  = f.submit 'Save', class: 'btn btn-primary pull-right spacer-top-1'