<%
  # http://mislav.uniqpath.com/rails/branching-the-database-along-with-your-code/
  branch = `git symbolic-ref HEAD 2>/dev/null`.chomp.sub('refs/heads/', '')
  suffix = `git config --bool branch.#{branch}.database`.chomp == 'true' ? "_#{branch}" : ""
%>

common: &common
  username: jrhorn424
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 16
  timeout: 5000

development:
  <<: *common
  database: recruiter_development<%= suffix %>

test:
  <<: *common
  database: recruiter_test<%= suffix %>
