common: &common
  username: jrhorn424
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 16
  timeout: 5000

development:
  <<: *common
  database: recruiter_development

test:
  <<: *common
  database: recruiter_test

production:
  <<: *common
  username: deploy
  database: recruiter
  password: changeme
