<div class='row' >
  <div class="col-md-6 col-md-offset-3">
    <h2>Sign in</h2>
    <%= render 'shared/sign_in_form' %>
    <hr>
    <div class="pull-right text-right">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
