/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.all
 */
.danger{
    color: darkred;
}
.green{
    color: darkgreen;
}
.classic{
    color: darkgoldenrod;
}
.width100{
    width: 100%;
}
.spacer-right10{
    margin-right: 10px;
}
.spacer-top10{
    margin-top: 10px;
}
.spacer-bot-neg-5{
    margin-bottom: -5px;
}
.spacer-top20{
    margin-top: 20px;
}
.spacer-top100{
    margin-top: 100px;
}
.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
input[type=radio] {
    display: none;
}
input[type=radio] + label:before {
    content: "";
    display: inline-block;

    width:14px;
    height:14px;

    margin-top: 2px;
    margin-right: 4px;

    line-height: 14px;

    vertical-align: text-top;
    background:url(icons-rb.png) left top no-repeat;
    cursor:pointer;
}
input[type=radio]:checked + label:before {
    background:url(icons-rb.png) -24px top no-repeat;
}