/* variables */

$footer-height: 35px;
$navbar-inverse-bg: #222;
$navbar-inverse-color: #999;


/* globals */

html {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.h2-links {
  font-weight: normal;
  font-size: .5em;
  vertical-align: middle;
  padding-left: .5em;
}

.row > form {
  margin-top: 2em;
}


/* sticky footer */

html,
body {
  height:100%;
}

.wrapper {
  //padding-top: 50px; /* pushes the content below the navbar */
  padding-bottom: 20px; /* pushes up the last line of before footer */
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom: $footer-height;
}

.footer {
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  width: 100%;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 5px;
}
