<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Earn cash with economics experiments!</h1>
    <p>Register today to be selected for the latest opportunities to earn spare cash.</p>
    <p><a class="btn btn-primary btn-lg">Register &raquo;</a></p>
  </div>
</div>
